In [58]:
#import standard libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#import html/scraping libraries
import requests
from bs4 import BeautifulSoup
import json
from pandas.io.json import json_normalize

#import mapping libraries
import geopy
import folium
from geopy.geocoders import Nominatim
from IPython.display import Image

#import colors
import matplotlib.cm as cm
import matplotlib.colors as colors

In [2]:
#download portland geojson
!wget -q -O 'pdx_data.geojson' https://opendata.arcgis.com/datasets/9f50a605cf4945259b983fa35c993fe9_125.geojson

In [24]:
with open('pdx_data.geojson') as f:
    pdx_geo = json.load(f)

We can look at what kind of data we have:

In [163]:
pdx_geo['features'][4]

{'type': 'Feature',
 'properties': {'OBJECTID': 5,
  'NAME': 'CULLY ASSOCIATION OF NEIGHBORS',
  'COMMPLAN': ' ',
  'SHARED': ' ',
  'COALIT': 'CNN',
  'HORZ_VERT': 'HORZ',
  'MAPLABEL': 'Cully Association of Neighbors',
  'ID': 23,
  'Shape_Length': 18179.392090202025,
  'Shape_Area': 16580624.669252962},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-122.6147122245439, 45.54829038307215],
    [-122.60785446051207, 45.548264575609245],
    [-122.59938743920893, 45.54822488960527],
    [-122.59938092282987, 45.54857652975009],
    [-122.59937739514577, 45.54885060900733],
    [-122.59937020323359, 45.54928954232259],
    [-122.59936472979857, 45.54956382821686],
    [-122.5993575315982, 45.550002589256856],
    [-122.59935401020228, 45.550276840846834],
    [-122.59934741746642, 45.55062642430259],
    [-122.59934328880935, 45.550989851980546],
    [-122.59933472966135, 45.55149739922728],
    [-122.59933165023655, 45.551730830835176],
    [-122.5993316547281, 45.55246988194597],
    [-122.59930760503133, 45.55377266310885],
    [-122.59930723402711, 45.55386818024229],
    [-122.59930494871303, 45.553964762167546],
    [-122.59927047406737, 45.555460811597044],
    [-122.59916502083618, 45.555460508410825],
    [-122.59831356347391, 45.55545753127321],
    [-122.57863012363435, 45.55543097668348],
    [-122.57852799866129, 45.562664830653084],
    [-122.57765959817444, 45.56268189620978],
    [-122.57770276402049, 45.56887364669454],
    [-122.57770292122564, 45.56887792990655],
    [-122.57770351591036, 45.569960762706955],
    [-122.57767204792596, 45.56995481499906],
    [-122.57769049932187, 45.569978658650655],
    [-122.57834428150755, 45.57012459986506],
    [-122.57967978617921, 45.57048575392558],
    [-122.58106732217044, 45.570933744027506],
    [-122.58214916865698, 45.57119434760824],
    [-122.5831549350255, 45.57140402037086],
    [-122.58421400023646, 45.571735148782636],
    [-122.58484760805749, 45.571968869218956],
    [-122.58512859479016, 45.57217399956722],
    [-122.5853341266322, 45.5723455176919],
    [-122.58647771612488, 45.5729028086954],
    [-122.5868094639593, 45.573107013783236],
    [-122.58696298334642, 45.57319185026721],
    [-122.58741513417502, 45.5733239082864],
    [-122.58799608634735, 45.57350592599697],
    [-122.58852952123443, 45.573776596870445],
    [-122.58891074468143, 45.57394491763212],
    [-122.5893140999221, 45.574077684434215],
    [-122.5897181217127, 45.57417545590992],
    [-122.59034338059149, 45.574234226113845],
    [-122.59141823818514, 45.57430230761739],
    [-122.59181772797514, 45.57433002286699],
    [-122.59206757999839, 45.57432547785875],
    [-122.59299021537217, 45.57429120164344],
    [-122.59423169158642, 45.574163490330896],
    [-122.59525128482376, 45.574057297827295],
    [-122.59562281634719, 45.574015548679284],
    [-122.5959468413651, 45.57400964415978],
    [-122.59662284966758, 45.5740672833104],
    [-122.59777707521319, 45.57422148145549],
    [-122.59880960958053, 45.57451798202682],
    [-122.5995200781556, 45.57482035214113],
    [-122.60040428090659, 45.57511954646063],
    [-122.60123385081697, 45.575314619048406],
    [-122.60188451045872, 45.575372862388335],
    [-122.60281234617972, 45.57547850535442],
    [-122.60426851615358, 45.575767211100654],
    [-122.60555422092082, 45.57609400094416],
    [-122.6060305094811, 45.57619039249923],
    [-122.60670525565057, 45.576213016176524],
    [-122.60725898078495, 45.576343137355785],
    [-122.60774307839999, 45.576596963363905],
    [-122.60837879636362, 45.57693580202717],
    [-122.6088570486411, 45.577032147494194],
    [-122.60925656717721, 45.5770598022917],
    [-122.61000290188831, 45.57701113255533],
    [-122.6107466278918, 45.57689237366923],
    [-122.6115716918527, 45.576912209695955],
    [-122.61287567374272, 45.577098488929856],
    [-122.61443931366561, 45.577542677558874],
    [-122.6148687892198, 45.577692536464106],
    [-122.61555335397533, 45.57797779714237],
    [-122.61585985825197, 45.57818238492699],
    [-122.61627179689515, 45.57854261634129],
    [-122.61645075297785, 45.578626946637854],
    [-122.61705593720498, 45.57882603547767],
    [-122.61760905238329, 45.57893845683393],
    [-122.61805934998743, 45.57896531783396],
    [-122.618803737151, 45.57886398462691],
    [-122.61996714976705, 45.57863232125798],
    [-122.62043142964859, 45.57845846322831],
    [-122.62042541722441, 45.577357027941645],
    [-122.62039271585309, 45.57172695192018],
    [-122.62052763921551, 45.57178327914999],
    [-122.62052295719626, 45.57165801836645],
    [-122.62050916266675, 45.57003492977927],
    [-122.62045490172865, 45.56644080686348],
    [-122.62043829547228, 45.5628089474624],
    [-122.62041717787662, 45.55827246865937],
    [-122.62041545490791, 45.55556131710243],
    [-122.61489631898999, 45.555535738165794],
    [-122.61500667342938, 45.55011425742838],
    [-122.6150528944457, 45.54978280466621],
    [-122.61506759807027, 45.54829139025689],
    [-122.6147122245439, 45.54829038307215]]]}}

We need additional data for this project, I have downloaded data from portlandmap.com also, I am scraping data from 2019 from a site that seems to have the most up to date data for population statistics by neighborhood

In [34]:
permits_df = pd.read_csv('Residential_Building_Permits.csv')
#lets look at the time frame of the permits
print('Date Range : {} to {}'.format(min(permits_df['YEAR_']),max(permits_df['YEAR_'])))
print('Size of the data: {}'.format(permits_df.shape))

Date Range : 1994 to 2019
Size of the data: (30106, 28)

Lets narrow the data down to 2016-present and see what kind of permits we are dealing with

In [41]:
permits_df = permits_df[permits_df['YEAR_'] >= 2016]
print(permits_df.shape)
permits_df.NEWCLASS.unique()

(5527, 28)

array(['New Construction', 'Alteration', 'Move', 'Addition',
       'Replacement', 'First'], dtype=object)

With the objective of estimating new residents, we will only keep the 'Addition' and "New Construction" values.

In [50]:
permits_df = permits_df[permits_df['NEWCLASS'].isin(['New Construction','Addition'])]
permits_df.shape

(4689, 28)

In [51]:
permits_df.head()

,X,Y,OBJECTID,INDATE,ISSUEDATE,STATUS,YEAR_,NEWCLASS,NEWTYPE,NBRHOOD,...,NEW_UNITS,FOLDER_DES,VALUATION,CONST,PROPLOT,PROPGISID1,PROPERTYRO,FOLDERRSN,X_COORD,Y_COORD
23336,-122.771014,45.720797,23337,2013-03-06T00:00:00.000Z,2016-07-15T15:39:49.000Z,Admin Hold,2016,New Construction,Single Family Dwelling,NaN,...,1,NEW SINGLE FAMILY RESIDENCE/2 STORY/2 CAR GARA...,912966,V-B,R502908,3N1W23 700,3N1W23 00700,3283314,7.622136e+06,757041.415376
23338,-122.588079,45.562411,23339,2013-04-05T00:00:00.000Z,2017-06-16T09:49:52.000Z,Issued,2017,New Construction,Apartments/Condos,CULLY ASSOCIATION OF NEIGHBORS,...,12,NEW 12 UNIT THREE STORY APARTMENT BUILDING AND...,1112998,V-B,R209993,1N2E20AB 4900,1N2E20AB 04900,3296117,7.667349e+06,698049.685919
23339,-122.588340,45.562319,23340,2013-04-05T00:00:00.000Z,2017-06-16T09:50:06.000Z,Issued,2017,New Construction,Apartments/Condos,CULLY ASSOCIATION OF NEIGHBORS,...,12,"NEW 12 UNIT THREE STORY APARTMENT BUILDING, me...",1112998,V-B,R209993,1N2E20AB 4900,1N2E20AB 04900,3296123,7.667282e+06,698017.793594
23344,-122.568927,45.527362,23345,2013-06-28T00:00:00.000Z,2017-03-17T08:22:36.000Z,Final,2017,New Construction,Townhouse,MONTAVILLA,...,1,UNIT 1 OF 5 UNIT TOWHOUSE - ALL ON SAME TAX LO...,200112,V-B,R498064,1N2E33BD 2901,1N2E33BD 02901,3333750,7.671926e+06,685148.493545
23345,-122.568927,45.527281,23346,2013-06-28T00:00:00.000Z,2017-03-14T08:32:13.000Z,Final,2017,New Construction,Townhouse,MONTAVILLA,...,1,UNIT 2 OF 5 UNIT TOWHOUSE - ALL ON SAME TAX LO...,210687,V-B,R498064,1N2E33BD 2901,1N2E33BD 02901,3333757,7.671925e+06,685118.964405

Now we need to keep only entries that have a neighborhood assignment

In [57]:
permits_df = permits_df[permits_df['NBRHOOD'].notnull()]
permits_df.shape,len(permits_df.NBRHOOD.unique())

((4663, 28), 105)

It looks like we have 105 unique neighborhoods, with 4663 building permits in identified neighborhoods.

Lets continue to get some more data.

In [59]:
pdxdata_url = 'https://www.pdxmonthly.com/home-and-real-estate/2019/03/portland-neighborhoods-by-the-numbers-2019-the-city'
pdx_soup = BeautifulSoup(requests.get(pdxdata_url).text,'lxml')

In [63]:
#get a list of columns
col_names = [i.text for i in pdx_soup.find_all('th')]
#extraxt each datapoint for each row in the table
by_hood = [[entry.text for entry in row.find_all('td')]for row in pdx_soup.find_all('tr')[1:]]

In [85]:
pdx_hood_df = pd.DataFrame(columns=col_names, data=by_hood)

In [143]:
pdx_hood_df[pdx_hood_df['Neighborhood'] == 'PORTLAND TOTAL**']

,Neighborhood,Average home sale price ($),Median home sale price ($),Average cost per square foot ($),Days on market (avg.),Homes sold in 2018 (#),Condo sales (%),1-year median price change (2017–2018) (%),5-year median price change (2014–2018) (%),Distressed property sales (%),...,Commute by public transit (%),Commute by bike (%),Commute by walking (%),Commute by biking and walking (%),Number of Max/streetcar/tram lines,Number of TriMet bus lines,Number of transit lines (bus/MAX/streetcar/tram),"Miles of bike routes (lanes, boulevards, multiuse paths)",Miles of bike routes (all) per square mile,Walk score
95,PORTLAND TOTAL**,"480,268","420,000",255,37,"9,427",17%,5%,35%,1%,...,12.3,6.5,5.7,12.2,8,57,79,469,3.2,65

In [147]:
pdx_hood_df.drop(pdx_hood_df.index[95], inplace=True)
print(pdx_hood_df.shape)

pdx_hood_df.head()

(95, 57)

,Neighborhood,Average home sale price ($),Median home sale price ($),Average cost per square foot ($),Days on market (avg.),Homes sold in 2018 (#),Condo sales (%),1-year median price change (2017–2018) (%),5-year median price change (2014–2018) (%),Distressed property sales (%),...,Commute by public transit (%),Commute by bike (%),Commute by walking (%),Commute by biking and walking (%),Number of Max/streetcar/tram lines,Number of TriMet bus lines,Number of transit lines (bus/MAX/streetcar/tram),"Miles of bike routes (lanes, boulevards, multiuse paths)",Miles of bike routes (all) per square mile,Walk score
0,ALAMEDA,"785,713","738,000",268,31,81,0%,8%,26%,1%,...,8.8,3.9,11,14.9,0,3,3,1,1.2,65
1,ARBOR LODGE,"465,743","459,450",252,28,132,13%,1%,33%,0%,...,14.2,3.6,11.9,15.6,1,4,5,6,7.2,72
2,ARDENWALD-JOHNSON CREEK,"418,640","434,500",185,89,10,0%,-7%,34%,10%,...,9.3,0.4,7.3,7.7,1,5,6,3,7.8,54
3,ARGAY,"391,146","399,750",168,26,79,5%,11%,52%,0%,...,8.6,15.8,0.3,16.1,0,5,5,6,2.9,45
4,ARLINGTON HEIGHTS,"1,012,913","862,500",306,49,20,0%,-6%,9%,0%,...,6,10.6,4.1,14.8,2,4,6,1,1.6,40

Now we have three dataframes with pertinent data for the project, we now need to combine the dataframes in a meaningful way with the data we want to keep

In [148]:
#check the nieghborhood number in each df
print("the geo file contains {} neighborhoods \nthe permit file contains {} neighborhoods \nthe neighborhood df contains {} neighborhoods".format(len(pdx_geo['features']),len(permits_df.NBRHOOD.unique()),len(pdx_hood_df['Neighborhood'])))

the geo file contains 98 neighborhoods
the permit file contains 105 neighborhoods
the neighborhood df contains 95 neighborhoods

looks like we need to reconcile these differences before moving forward. We will start with the permit file and compare it to the geofile

In [149]:
geo_hoods = [pdx_geo['features'][i]['properties']['MAPLABEL'].lower() for i in range(len(pdx_geo['features']))]
permit_hoods = [i.lower() for i in permits_df.NBRHOOD.unique()]

In [150]:
#here we will use built in python 'difference' function for the 'set' datatype
set(permit_hoods).difference(set(geo_hoods))

{'alameda/beaumont-wilshire',
 'alameda/irvington community assn.',
 'ardenwald-johnson creek/woodstock',
 'boise/eliot',
 'bridlemile/southwest hills residential league',
 'centennial community assn./pleasant valley',
 'eastmoreland/reed',
 'goose hollow foothills league/southwest hills residential league',
 'grant park/hollywood',
 'healy heights/southwest hills residential league',
 'hillside/northwest district assn.',
 'lents/powellhurst-gilbert',
 'pleasant valley/powellhurst-gilbert',
 'sylvan-highlands/southwest hills residential league'}

In [151]:
set(geo_hoods).difference(set(permit_hoods))

{'healy heights',
 'mc unclaimed #11',
 'mc unclaimed #13',
 'mc unclaimed #14',
 'mc unclaimed #5',
 'sunderland association of neighbors',
 'woodland park'}

We see that some permits are in neighborhoods that may over lap, however, we want to compare uniqueness, so we can separate each neighborhood to see if it produces a unique entry

In [152]:
ph_0 = [i.split('/')[0] for i in permit_hoods if '/' in i]
ph_1 = [i.split('/')[1] for i in permit_hoods if '/' in i]

In [153]:
permit_sep

['pleasant valley',
 'hillside',
 'bridlemile',
 'healy heights',
 'lents',
 'alameda',
 'sylvan-highlands',
 'eastmoreland',
 'ardenwald-johnson creek',
 'boise',
 'goose hollow foothills league',
 'grant park',
 'alameda',
 'centennial community assn.',
 'powellhurst-gilbert',
 'northwest district assn.',
 'southwest hills residential league',
 'southwest hills residential league',
 'powellhurst-gilbert',
 'beaumont-wilshire',
 'southwest hills residential league',
 'reed',
 'woodstock',
 'eliot',
 'southwest hills residential league',
 'hollywood',
 'irvington community assn.',
 'pleasant valley']

In [154]:
permit_sep = ph_0+ph_1
set(permit_sep).difference(set(permit_hoods))

{'centennial community assn.',
 'healy heights',
 'irvington community assn.',
 'northwest district assn.'}

In [155]:
permit_hoods[21]

'goose hollow foothills league'

In [156]:
'healy hieghts' in permit_hoods

False

We can see here that we have decisions to make on how we will merge the data.
Current Issues:
 1. the geo file contains unclaimed areas
 2. the permit file has combined neighborhoods
 3. the neighborhood file has fewer neighborhoods than the others <br><br>
Chosen Solution:
     - drop unclaimed neighborhoods from geo_file
     - keep first entry from permits
     - filter overall neighborhoods by neighborhood file (for completeness)<br><br>
Note: Its ok that the permit file is missing data, afterall it is not a requirement for new housing to go up in a certain area

The differences between the neighborhood file and geo_file need to be examined

In [157]:
n_hoods = [i.lower() for i in pdx_hood_df['Neighborhood']]

In [158]:
set(geo_hoods).difference(set(n_hoods))

{'argay terrace',
 'brentwood-darlington',
 'brooklyn action corps',
 'buckman community association',
 'centennial community association',
 'cully association of neighbors',
 'goose hollow foothills league',
 'hayden island neighborhood network',
 'hosford-abernethy neighborhood district assn.',
 'irvington community association',
 'lloyd district community association',
 'mc unclaimed #11',
 'mc unclaimed #13',
 'mc unclaimed #14',
 'mc unclaimed #5',
 'mt. scott-arleta',
 'mt. tabor',
 'northwest district association',
 'old town community association',
 'parkrose heights association of neighbors',
 'pearl district',
 'portland downtown',
 'sabin community association',
 'sellwood-moreland improvement league',
 'southwest hills residential league',
 'sumner association of neighbors',
 'sunderland association of neighbors',
 'wilkes community group'}

In [159]:
set(n_hoods).difference(set(geo_hoods))

{'argay',
 'brentwood/ darlington',
 'brooklyn',
 'buckman',
 'centennial',
 'cully',
 'downtown',
 'dunthorpe',
 'goose hollow',
 'hayden island',
 'hosford-abernethy',
 'irvington',
 'lloyd district',
 'mt scott-arleta',
 'mt tabor',
 'northwest district',
 'old town/ chinatown',
 'parkrose heights',
 'pearl',
 'sabin',
 'sellwood-moreland',
 'southwest hills',
 'sumner',
 'sunderland',
 'wilkes'}

visually, it can be reconcilled (with maps) that mc unclaimed 11 is donthrope, and 14 is northwest industrial.
To minimize the amount of manual correction, it would be best to update the neighborhood df to the standards of the permit/geo file, then correct the other few in the geofile(donthrope, nw industrial)

In [168]:
before = [i for i in n_hoods if i not in geo_hoods]
after = ['argay terrace','brentwood-darlington','brooklyn action corps','buckman community association',
         'centennial community association','cully association of neighbors','portland downtown',
         'dunthorpe','goose hollow foothills league','hayden island neighborhood network',
         'hosford-abernethy neighborhood district assn.','irvington community association',
         'lloyd district community association','mt. scott-arleta','mt. tabor','northwest district association',
         'old town community association','parkrose heights association of neighbors','pearl district',
         'sabin community association','sellwood-moreland improvement league','southwest hills residential league',
         'sumner association of neighbors','sunderland association of neighbors', 'wilkes community group']
replace_d = {k:v for k,v, in zip(before,after)}

In [169]:
replace_d

{'argay': 'argay terrace',
 'brentwood/ darlington': 'brentwood-darlington',
 'brooklyn': 'brooklyn action corps',
 'buckman': 'buckman community association',
 'centennial': 'centennial community association',
 'cully': 'cully association of neighbors',
 'downtown': 'portland downtown',
 'dunthorpe': 'dunthorpe',
 'goose hollow': 'goose hollow foothills league',
 'hayden island': 'hayden island neighborhood network',
 'hosford-abernethy': 'hosford-abernethy neighborhood district assn.',
 'irvington': 'irvington community association',
 'lloyd district': 'lloyd district community association',
 'mt scott-arleta': 'mt. scott-arleta',
 'mt tabor': 'mt. tabor',
 'northwest district': 'northwest district association',
 'old town/ chinatown': 'old town community association',
 'parkrose heights': 'parkrose heights association of neighbors',
 'pearl': 'pearl district',
 'sabin': 'sabin community association',
 'sellwood-moreland': 'sellwood-moreland improvement league',
 'southwest hills': 'southwest hills residential league',
 'sumner': 'sumner association of neighbors',
 'sunderland': 'sunderland association of neighbors',
 'wilkes': 'wilkes community group'}

In [177]:
#the replace dictionary looks good lets update the names
old_names = [i.lower() for i in pdx_hood_df['Neighborhood']]
new_names = [replace_d[i].upper() if i in replace_d.keys() else i.upper() for i in old_names]

In [178]:
new_names[:10]

['ALAMEDA',
 'ARBOR LODGE',
 'ARDENWALD-JOHNSON CREEK',
 'ARGAY TERRACE',
 'ARLINGTON HEIGHTS',
 'ARNOLD CREEK',
 'ASHCREEK',
 'BEAUMONT-WILSHIRE',
 'BOISE',
 'BRENTWOOD-DARLINGTON']

In [180]:
#set neighborhood column back in df
pdx_hood_df['Neighborhood'] = new_names

In [182]:
pdx_hood_df.to_csv('pdx_hoods.csv',index=False)
pdx_hood_df.head()

,Neighborhood,Average home sale price ($),Median home sale price ($),Average cost per square foot ($),Days on market (avg.),Homes sold in 2018 (#),Condo sales (%),1-year median price change (2017–2018) (%),5-year median price change (2014–2018) (%),Distressed property sales (%),...,Commute by public transit (%),Commute by bike (%),Commute by walking (%),Commute by biking and walking (%),Number of Max/streetcar/tram lines,Number of TriMet bus lines,Number of transit lines (bus/MAX/streetcar/tram),"Miles of bike routes (lanes, boulevards, multiuse paths)",Miles of bike routes (all) per square mile,Walk score
0,ALAMEDA,"785,713","738,000",268,31,81,0%,8%,26%,1%,...,8.8,3.9,11,14.9,0,3,3,1,1.2,65
1,ARBOR LODGE,"465,743","459,450",252,28,132,13%,1%,33%,0%,...,14.2,3.6,11.9,15.6,1,4,5,6,7.2,72
2,ARDENWALD-JOHNSON CREEK,"418,640","434,500",185,89,10,0%,-7%,34%,10%,...,9.3,0.4,7.3,7.7,1,5,6,3,7.8,54
3,ARGAY TERRACE,"391,146","399,750",168,26,79,5%,11%,52%,0%,...,8.6,15.8,0.3,16.1,0,5,5,6,2.9,45
4,ARLINGTON HEIGHTS,"1,012,913","862,500",306,49,20,0%,-6%,9%,0%,...,6,10.6,4.1,14.8,2,4,6,1,1.6,40

Now lets cleanup the permits neighborhood column

In [183]:
comb_list = [i.split('/')[0] if '/' in i else i for i in permits_df.NBRHOOD ]

In [187]:
permits_df['NBRHOOD'] = comb_list

In [199]:
#Lets get the stat from the permits df that we want
p_grouped =permits_df.groupby('NBRHOOD')['NEW_UNITS'].sum().reset_index()
p_grouped.columns=['Neighborhood', 'New Units']

In [203]:
p_grouped.dtypes

Neighborhood    object
New Units        int64
dtype: object

In [224]:
new_units = []
for i in pdx_hood_df['Neighborhood']:
    if i in list(p_grouped['Neighborhood']):
        new_units.append(int(p_grouped[p_grouped['Neighborhood']==i]['New Units']))
    else:
        new_units.append(0)

In [225]:
new_units

[30,
 443,
 10,
 58,
 1,
 28,
 26,
 105,
 680,
 151,
 332,
 22,
 173,
 1528,
 146,
 69,
 9,
 227,
 323,
 9,
 299,
 1473,
 0,
 2,
 42,
 628,
 13,
 24,
 135,
 65,
 853,
 17,
 3,
 17,
 1100,
 1,
 55,
 7,
 169,
 24,
 257,
 304,
 12,
 430,
 1441,
 356,
 14,
 461,
 4,
 240,
 31,
 17,
 12,
 7,
 39,
 205,
 216,
 206,
 195,
 118,
 2100,
 16,
 208,
 882,
 34,
 18,
 1403,
 160,
 230,
 90,
 182,
 13,
 705,
 238,
 35,
 1,
 47,
 1000,
 16,
 509,
 133,
 164,
 344,
 402,
 3,
 0,
 203,
 286,
 249,
 178,
 24,
 28,
 0,
 277,
 223]

In [23]:
#get geocoords for portland
address = "Portland, OR"

geolocator = Nominatim(user_agent="extra_lime")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Portland, OR are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Portland, OR are 45.5202471, -122.6741949.

Lets Create a map to show the neighborhoods

In [ ]:
# let Folium determine the scale.
pdx_map = folium.Map(location=[latitude, longitude], zoom_start=12)
sf_map.choropleth(
    geo_data=pdx_geo,
    data=hoods,
    columns=['PdDistrict', 'IncidntNum'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime Rate in San Francisco',
    reset=True
)
sf_map

In [14]:
#first lets create a dataframe with basic information about each neighborhood
pdx_df = pd.DataFrame